# Importing libries that we will need

In [33]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

# List of columns that are not useful

In [98]:
column_to_drop = ["RefId","PurchDate","Auction","VehYear",
                  "Trim","SubModel","Color","WheelType",
                  "Nationality","TopThreeAmericanName",
                  "MMRAcquisitionAuctionCleanPrice",
                  "MMRAcquisitionRetailAveragePrice",
                  "MMRAcquisitonRetailCleanPrice",
                  "MMRCurrentAuctionCleanPrice","WheelTypeID",
                  "MMRCurrentRetailAveragePrice",
                  "MMRCurrentRetailCleanPrice","PRIMEUNIT",
                  "AUCGUART","BYRNO","VNST","IsOnlineSale","Model",
                 "VNZIP1","MMRCurrentAuctionAveragePrice","Transmission",
                 "VehBCost","WarrantyCost","VehicleAge"]

In [99]:
df = pd.read_csv("/Users/piyush2017/All Files/Python/Data_Mining_Project/Classification/training.csv")

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58386 entries, 0 to 58385
Data columns (total 34 columns):
RefId                                58386 non-null int64
IsBadBuy                             58386 non-null int64
PurchDate                            58386 non-null object
Auction                              58386 non-null object
VehYear                              58386 non-null int64
VehicleAge                           58386 non-null int64
Make                                 58386 non-null object
Model                                58386 non-null object
Trim                                 56475 non-null object
SubModel                             58379 non-null object
Color                                58379 non-null object
Transmission                         58378 non-null object
WheelTypeID                          55813 non-null float64
WheelType                            55809 non-null object
VehOdo                               58386 non-null int64
Nationality                          58382 non-null object
Size                                 58382 non-null object
TopThreeAmericanName                 58382 non-null object
MMRAcquisitionAuctionAveragePrice    58373 non-null float64
MMRAcquisitionAuctionCleanPrice      58373 non-null float64
MMRAcquisitionRetailAveragePrice     58373 non-null float64
MMRAcquisitonRetailCleanPrice        58373 non-null float64
MMRCurrentAuctionAveragePrice        58141 non-null float64
MMRCurrentAuctionCleanPrice          58141 non-null float64
MMRCurrentRetailAveragePrice         58141 non-null float64
MMRCurrentRetailCleanPrice           58141 non-null float64
PRIMEUNIT                            2683 non-null object
AUCGUART                             2683 non-null object
BYRNO                                58386 non-null int64
VNZIP1                               58386 non-null int64
VNST                                 58386 non-null object
VehBCost                             58386 non-null float64
IsOnlineSale                         58386 non-null int64
WarrantyCost                         58386 non-null int64
dtypes: float64(10), int64(9), object(15)
memory usage: 15.1+ MB

In [101]:
new_df = df.drop(columns= column_to_drop)

In [102]:
new_df.isnull().sum()

IsBadBuy                              0
Make                                  0
VehOdo                                0
Size                                  4
MMRAcquisitionAuctionAveragePrice    13
dtype: int64

Here we can do the support on columns [Make,Transmission, Size,VehicleAge]

support is the number of time

In [103]:
final_df = new_df.dropna()

In [104]:
new_df.head()

   IsBadBuy      Make  VehOdo    Size  MMRAcquisitionAuctionAveragePrice
0         1       KIA   61184  MEDIUM                             6796.0
1         0     DODGE   92383  MEDIUM                             5480.0
2         0     DODGE   45965  MEDIUM                             8067.0
3         0      FORD   80169     VAN                             4817.0
4         0  CHRYSLER   77372     VAN                             5430.0

In [105]:
new_df.shape

(58386, 5)

In [106]:
df = new_df.copy()

In [109]:
df['MMRAcquisitionAuctionAveragePriceBin'] = pd.cut(df['MMRAcquisitionAuctionAveragePrice'], 10, right=False)
df['VehOdoBin'] = pd.cut(df['VehOdo'], 10, right=False)

In [108]:
df.MMRAcquisitionAuctionAveragePriceBin.head()

0     [3572.2, 7144.4)
1     [3572.2, 7144.4)
2    [7144.4, 10716.6)
3     [3572.2, 7144.4)
4     [3572.2, 7144.4)
Name: MMRAcquisitionAuctionAveragePriceBin, dtype: category
Categories (10, interval[float64]): [[0.0, 3572.2) < [3572.2, 7144.4) < [7144.4, 10716.6) < [10716.6, 14288.8) ... [21433.2, 25005.4) < [25005.4, 28577.6) < [28577.6, 32149.8) < [32149.8, 35757.722)]

In [110]:
df.VehOdoBin.head()

0    [60271.0, 71360.2)
1    [82449.4, 93538.6)
2    [38092.6, 49181.8)
3    [71360.2, 82449.4)
4    [71360.2, 82449.4)
Name: VehOdoBin, dtype: category
Categories (10, interval[float64]): [[4825.0, 15914.2) < [15914.2, 27003.4) < [27003.4, 38092.6) < [38092.6, 49181.8) ... [71360.2, 82449.4) < [82449.4, 93538.6) < [93538.6, 104627.8) < [104627.8, 115827.892)]

In [111]:
df.drop(['MMRAcquisitionAuctionAveragePrice', 'VehOdo'], axis=1, inplace=True)

df.head()

,IsBadBuy,Make,Size,MMRAcquisitionAuctionAveragePriceBin,VehOdoBin
0,1,KIA,MEDIUM,"[3572.2, 7144.4)","[60271.0, 71360.2)"
1,0,DODGE,MEDIUM,"[3572.2, 7144.4)","[82449.4, 93538.6)"
2,0,DODGE,MEDIUM,"[7144.4, 10716.6)","[38092.6, 49181.8)"
3,0,FORD,VAN,"[3572.2, 7144.4)","[71360.2, 82449.4)"
4,0,CHRYSLER,VAN,"[3572.2, 7144.4)","[71360.2, 82449.4)"

In [112]:
df['IsBadBuy'] = df['IsBadBuy'].map(
    {0: 'Not Good', 1: 'Good'}).astype(str)

In [113]:
df['MMRAcquisitionAuctionAveragePriceBin'] = df['MMRAcquisitionAuctionAveragePriceBin'].astype(str) + '_MMR'
df['VehOdoBin'] = df['VehOdoBin'].astype(str) + '_Veh'


df.head()

,IsBadBuy,Make,Size,MMRAcquisitionAuctionAveragePriceBin,VehOdoBin
0,Good,KIA,MEDIUM,"[3572.2, 7144.4)_MMR","[60271.0, 71360.2)_Veh"
1,Not Good,DODGE,MEDIUM,"[3572.2, 7144.4)_MMR","[82449.4, 93538.6)_Veh"
2,Not Good,DODGE,MEDIUM,"[7144.4, 10716.6)_MMR","[38092.6, 49181.8)_Veh"
3,Not Good,FORD,VAN,"[3572.2, 7144.4)_MMR","[71360.2, 82449.4)_Veh"
4,Not Good,CHRYSLER,VAN,"[3572.2, 7144.4)_MMR","[71360.2, 82449.4)_Veh"

In [114]:
baskets = df.values.tolist()

In [115]:
baskets[0]

['Good', 'KIA', 'MEDIUM', '[3572.2, 7144.4)_MMR', '[60271.0, 71360.2)_Veh']

In [117]:
from fim import apriori

Extract frequent patterns

In [118]:
itemsets = apriori(baskets, supp=1, zmin=2, target='a')

In [120]:
print('Number of itemsets:', len(itemsets))

Number of itemsets: 523

In [121]:
itemsets[:10]

[(('SMALL TRUCK', 'Not Good'), 593),
 (('MERCURY', 'Not Good'), 612),
 (('[27003.4, 38092.6)_Veh', 'Not Good'), 694),
 (('MAZDA', 'Not Good'), 653),
 (('MITSUBISHI', 'Not Good'), 721),
 (('TOYOTA', 'MEDIUM'), 585),
 (('TOYOTA', 'Not Good'), 809),
 (('SUZUKI', 'MEDIUM'), 807),
 (('SUZUKI', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 674),
 (('SUZUKI', 'MEDIUM', '[3572.2, 7144.4)_MMR', 'Not Good'), 586)]

In [122]:
rules = apriori(baskets, supp=10, zmin=2, target='r', conf=60, 
                report='ascl')

In [123]:
print('Number of rule:', len(rules))

Number of rule: 22

In [124]:
for r in rules:
    if r[0] == 'Good':
        print(r)

In [125]:
set(rules[0][1])

{'MEDIUM SUV'}

In [135]:
len(baskets)

58386

# Patterns

In [139]:
hr_baskets_list = baskets.copy()

In [142]:
len(hr_baskets_list)

58386

In [150]:
frequent_patterns = apriori(hr_baskets_list, supp=5, zmin=3, target = 's')

supp means support threshold
so it means number of time the pattern occurs in the data set
so it is a percentage in our case its 5%

In [151]:
len(frequent_patterns)

31

In [152]:
frequent_patterns.sort(key=lambda pattern: pattern[1], reverse=True)
frequent_patterns

[(('MEDIUM', '[3572.2, 7144.4)_MMR', 'Not Good'), 11934),
 (('[71360.2, 82449.4)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 7470),
 (('CHEVROLET', '[3572.2, 7144.4)_MMR', 'Not Good'), 6601),
 (('[60271.0, 71360.2)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 6135),
 (('[7144.4, 10716.6)_MMR', 'MEDIUM', 'Not Good'), 5781),
 (('[71360.2, 82449.4)_Veh', 'MEDIUM', 'Not Good'), 5390),
 (('[71360.2, 82449.4)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 5184),
 (('[60271.0, 71360.2)_Veh', 'MEDIUM', 'Not Good'), 4834),
 (('[82449.4, 93538.6)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 4754),
 (('CHEVROLET', '[7144.4, 10716.6)_MMR', 'Not Good'), 4464),
 (('[49181.8, 60271.0)_Veh', 'MEDIUM', 'Not Good'), 4426),
 (('CHRYSLER', 'MEDIUM', 'Not Good'), 4336),
 (('CHEVROLET', '[71360.2, 82449.4)_Veh', 'Not Good'), 4248),
 (('DODGE', 'MEDIUM', 'Not Good'), 4089),
 (('DODGE', '[7144.4, 10716.6)_MMR', 'Not Good'), 4003),
 (('[49181.8, 60271.0)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 3980),
 (('LARGE', 'CHEVROLET', 'Not Good'), 3826),
 (('[0.0, 3572.2)_MMR', 'MEDIUM', 'Not Good'), 3710),
 (('DODGE', '[3572.2, 7144.4)_MMR', 'Not Good'), 3691),
 (('FORD', '[3572.2, 7144.4)_MMR', 'Not Good'), 3582),
 (('[60271.0, 71360.2)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 3558),
 (('CHRYSLER', '[3572.2, 7144.4)_MMR', 'Not Good'), 3430),
 (('[71360.2, 82449.4)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3398),
 (('[82449.4, 93538.6)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 3336),
 (('[60271.0, 71360.2)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3267),
 (('[82449.4, 93538.6)_Veh', 'MEDIUM', 'Not Good'), 3203),
 (('LARGE', '[7144.4, 10716.6)_MMR', 'Not Good'), 3148),
 (('CHEVROLET', 'MEDIUM', 'Not Good'), 3052),
 (('CHRYSLER', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3040),
 (('[60271.0, 71360.2)_Veh', 'CHEVROLET', 'Not Good'), 2979),
 (('[71360.2, 82449.4)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR', 'Not Good'),
  2956)]

In [153]:
closed_patterns = apriori(hr_baskets_list, supp=5, zmin=3, target = 'c')

In [154]:
len(closed_patterns)

31

In [155]:
closed_patterns.sort(key=lambda pattern: pattern[1], reverse=True)
closed_patterns

[(('MEDIUM', '[3572.2, 7144.4)_MMR', 'Not Good'), 11934),
 (('[71360.2, 82449.4)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 7470),
 (('CHEVROLET', '[3572.2, 7144.4)_MMR', 'Not Good'), 6601),
 (('[60271.0, 71360.2)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 6135),
 (('[7144.4, 10716.6)_MMR', 'MEDIUM', 'Not Good'), 5781),
 (('[71360.2, 82449.4)_Veh', 'MEDIUM', 'Not Good'), 5390),
 (('[71360.2, 82449.4)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 5184),
 (('[60271.0, 71360.2)_Veh', 'MEDIUM', 'Not Good'), 4834),
 (('[82449.4, 93538.6)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 4754),
 (('CHEVROLET', '[7144.4, 10716.6)_MMR', 'Not Good'), 4464),
 (('[49181.8, 60271.0)_Veh', 'MEDIUM', 'Not Good'), 4426),
 (('CHRYSLER', 'MEDIUM', 'Not Good'), 4336),
 (('CHEVROLET', '[71360.2, 82449.4)_Veh', 'Not Good'), 4248),
 (('DODGE', 'MEDIUM', 'Not Good'), 4089),
 (('DODGE', '[7144.4, 10716.6)_MMR', 'Not Good'), 4003),
 (('[49181.8, 60271.0)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 3980),
 (('LARGE', 'CHEVROLET', 'Not Good'), 3826),
 (('[0.0, 3572.2)_MMR', 'MEDIUM', 'Not Good'), 3710),
 (('DODGE', '[3572.2, 7144.4)_MMR', 'Not Good'), 3691),
 (('FORD', '[3572.2, 7144.4)_MMR', 'Not Good'), 3582),
 (('[60271.0, 71360.2)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 3558),
 (('CHRYSLER', '[3572.2, 7144.4)_MMR', 'Not Good'), 3430),
 (('[71360.2, 82449.4)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3398),
 (('[82449.4, 93538.6)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 3336),
 (('[60271.0, 71360.2)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3267),
 (('[82449.4, 93538.6)_Veh', 'MEDIUM', 'Not Good'), 3203),
 (('LARGE', '[7144.4, 10716.6)_MMR', 'Not Good'), 3148),
 (('CHEVROLET', 'MEDIUM', 'Not Good'), 3052),
 (('CHRYSLER', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3040),
 (('[60271.0, 71360.2)_Veh', 'CHEVROLET', 'Not Good'), 2979),
 (('[71360.2, 82449.4)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR', 'Not Good'),
  2956)]

In [157]:
maximal_patterns = apriori(hr_baskets_list, supp=5, zmin=3, target = 'm')

In [158]:
len(maximal_patterns)

27

In [159]:
max_pat = maximal_patterns[0]
max_pat

(('CHRYSLER', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3040)

In [161]:
max_pat[1]

3040

In [162]:
maximal_patterns

[(('CHRYSLER', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3040),
 (('CHRYSLER', 'MEDIUM', 'Not Good'), 4336),
 (('CHRYSLER', '[3572.2, 7144.4)_MMR', 'Not Good'), 3430),
 (('LARGE', 'CHEVROLET', 'Not Good'), 3826),
 (('LARGE', '[7144.4, 10716.6)_MMR', 'Not Good'), 3148),
 (('[49181.8, 60271.0)_Veh', 'MEDIUM', 'Not Good'), 4426),
 (('[49181.8, 60271.0)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 3980),
 (('FORD', '[3572.2, 7144.4)_MMR', 'Not Good'), 3582),
 (('[0.0, 3572.2)_MMR', 'MEDIUM', 'Not Good'), 3710),
 (('DODGE', '[7144.4, 10716.6)_MMR', 'Not Good'), 4003),
 (('DODGE', 'MEDIUM', 'Not Good'), 4089),
 (('DODGE', '[3572.2, 7144.4)_MMR', 'Not Good'), 3691),
 (('[82449.4, 93538.6)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 3336),
 (('[82449.4, 93538.6)_Veh', 'MEDIUM', 'Not Good'), 3203),
 (('[82449.4, 93538.6)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 4754),
 (('[60271.0, 71360.2)_Veh', 'CHEVROLET', 'Not Good'), 2979),
 (('[60271.0, 71360.2)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 3558),
 (('[60271.0, 71360.2)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3267),
 (('[60271.0, 71360.2)_Veh', 'MEDIUM', 'Not Good'), 4834),
 (('[60271.0, 71360.2)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 6135),
 (('CHEVROLET', '[71360.2, 82449.4)_Veh', 'Not Good'), 4248),
 (('CHEVROLET', '[7144.4, 10716.6)_MMR', 'Not Good'), 4464),
 (('CHEVROLET', 'MEDIUM', 'Not Good'), 3052),
 (('CHEVROLET', '[3572.2, 7144.4)_MMR', 'Not Good'), 6601),
 (('[71360.2, 82449.4)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 5184),
 (('[71360.2, 82449.4)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR', 'Not Good'),
  2956),
 (('[7144.4, 10716.6)_MMR', 'MEDIUM', 'Not Good'), 5781)]

In [163]:
maximal_patterns.sort(key=lambda pattern: pattern[1], reverse=True)
maximal_patterns

[(('CHEVROLET', '[3572.2, 7144.4)_MMR', 'Not Good'), 6601),
 (('[60271.0, 71360.2)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 6135),
 (('[7144.4, 10716.6)_MMR', 'MEDIUM', 'Not Good'), 5781),
 (('[71360.2, 82449.4)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 5184),
 (('[60271.0, 71360.2)_Veh', 'MEDIUM', 'Not Good'), 4834),
 (('[82449.4, 93538.6)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 4754),
 (('CHEVROLET', '[7144.4, 10716.6)_MMR', 'Not Good'), 4464),
 (('[49181.8, 60271.0)_Veh', 'MEDIUM', 'Not Good'), 4426),
 (('CHRYSLER', 'MEDIUM', 'Not Good'), 4336),
 (('CHEVROLET', '[71360.2, 82449.4)_Veh', 'Not Good'), 4248),
 (('DODGE', 'MEDIUM', 'Not Good'), 4089),
 (('DODGE', '[7144.4, 10716.6)_MMR', 'Not Good'), 4003),
 (('[49181.8, 60271.0)_Veh', '[3572.2, 7144.4)_MMR', 'Not Good'), 3980),
 (('LARGE', 'CHEVROLET', 'Not Good'), 3826),
 (('[0.0, 3572.2)_MMR', 'MEDIUM', 'Not Good'), 3710),
 (('DODGE', '[3572.2, 7144.4)_MMR', 'Not Good'), 3691),
 (('FORD', '[3572.2, 7144.4)_MMR', 'Not Good'), 3582),
 (('[60271.0, 71360.2)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 3558),
 (('CHRYSLER', '[3572.2, 7144.4)_MMR', 'Not Good'), 3430),
 (('[82449.4, 93538.6)_Veh', '[7144.4, 10716.6)_MMR', 'Not Good'), 3336),
 (('[60271.0, 71360.2)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3267),
 (('[82449.4, 93538.6)_Veh', 'MEDIUM', 'Not Good'), 3203),
 (('LARGE', '[7144.4, 10716.6)_MMR', 'Not Good'), 3148),
 (('CHEVROLET', 'MEDIUM', 'Not Good'), 3052),
 (('CHRYSLER', 'MEDIUM', '[3572.2, 7144.4)_MMR'), 3040),
 (('[60271.0, 71360.2)_Veh', 'CHEVROLET', 'Not Good'), 2979),
 (('[71360.2, 82449.4)_Veh', 'MEDIUM', '[3572.2, 7144.4)_MMR', 'Not Good'),
  2956)]

# Rules

In [164]:
rules = apriori(hr_baskets_list, supp=10, zmin=2, target='r', conf=80, report='ascl')

In [165]:
first_rule = rules[0]
first_rule

('Not Good',
 ('MEDIUM SUV',),
 5454,
 0.0934128044394204,
 0.8524538918412004,
 0.9725150050615562)

In [166]:
len(rules)

19

In [169]:
rules_left = list()
rules_not_left = list()
for rule in rules:
    if rule[0] == 'Good':
        rules_left.append(rule)
    elif rule[0] == 'Not Good':
        rules_not_left.append(rule)
len(rules_left), len(rules_not_left)

(0, 19)

In [170]:
min_lift = 1.0
interesting_left_rules = list()
interesting_not_left_rules = list()

for rule in rules_left:
    if rule[5] > min_lift:
        interesting_left_rules.append(rule)
for rule in rules_not_left:
    if rule[5] > min_lift:
        interesting_not_left_rules.append(rule)    
        
len(interesting_left_rules), len(interesting_not_left_rules)

(0, 12)

In [173]:
interesting_left_rules.sort(key=lambda rule: rule[5], reverse=True)

for int_rule in interesting_left_rules:
    print(int_rule)

In [175]:
interesting_not_left_rules.sort(key=lambda rule: rule[2], reverse=True)
for int_rule in interesting_not_left_rules:
    print(int_rule)

('Not Good', ('[3572.2, 7144.4)_MMR',), 25577, 0.4380673449114514, 0.8773067160595459, 1.0008681449812935)
('Not Good', ('MEDIUM',), 21801, 0.3733943068543829, 0.8846372342152248, 1.0092311062739872)
('Not Good', ('[7144.4, 10716.6)_MMR',), 16508, 0.2827390127770356, 0.9171111111111111, 1.0462786614039887)
('Not Good', ('CHEVROLET',), 12486, 0.21385263590586784, 0.9020372778500216, 1.0290818028166666)
('Not Good', ('MEDIUM', '[3572.2, 7144.4)_MMR'), 11934, 0.20439831466447436, 0.8878143133462283, 1.0128556508467093)
('Not Good', ('[60271.0, 71360.2)_Veh',), 11579, 0.19831808995307093, 0.8909664512157587, 1.0164517413865974)
('Not Good', ('DODGE',), 9285, 0.1590278491419176, 0.8966682761950748, 1.0229566214765258)
('Not Good', ('[49181.8, 60271.0)_Veh',), 7393, 0.12662282053917034, 0.9081193956516398, 1.0360205368423276)
('Not Good', ('CHEVROLET', '[3572.2, 7144.4)_MMR'), 6601, 0.11305792484499709, 0.9025157232704403, 1.0296276333359633)
('Not Good', ('LARGE',), 6456, 0.11057445277977597, 0.9067415730337078, 1.0344486592509685)
('Not Good', ('[60271.0, 71360.2)_Veh', '[3572.2, 7144.4)_MMR'), 6135, 0.10507655944918302, 0.8888727904955086, 1.0140632057890258)
('Not Good', ('[7144.4, 10716.6)_MMR', 'MEDIUM'), 5781, 0.09901346213133286, 0.9337748344370861, 1.0652893329837765)

In [177]:
first_int_rule = interesting_not_left_rules[0]
first_int_rule

('Not Good',
 ('[3572.2, 7144.4)_MMR',),
 25577,
 0.4380673449114514,
 0.8773067160595459,
 1.0008681449812935)

In [178]:
hr_baskets_list[0]

['Good', 'KIA', 'MEDIUM', '[3572.2, 7144.4)_MMR', '[60271.0, 71360.2)_Veh']

In [179]:
from __future__ import division

In [182]:
counter = 0
c_left = 0
c_not_left = 0
for row in hr_baskets_list:
    if '[3572.2, 7144.4)_MMR' in row :
        counter += 1
    if '[3572.2, 7144.4)_MMR' in row and 'Good' in row:
        c_left += 1
    if '[3572.2, 7144.4)_MMR' in row and 'Not Good' in row:
        c_not_left += 1
accuracy = (c_left/counter) * 100
print('counter', counter)
print( 'c_left', c_left)
print ('c_not_left', c_not_left)
print ('accuracy', accuracy)

counter 29154
c_left 3577
c_not_left 25577
accuracy 12.269328394045415